<link rel="stylesheet" href="/css/home.css">

<div id="home-body">
    <h1>
        Welcome to ERMS!
    </h1>
    <div id="login-window">
        <h2><p>Login As</p></h2>
        <p><a href="/users/sign-in"><button id="admin">Employee/Admin</button></a></p>
    </div>

</div>