<link rel="stylesheet" href="/css/login.css">
<div class="login-window">
<h1>Sign Up</h1>
<form action="/users/create" method="post">
    <p><input type="email" name="email" placeholder="Enter your Email" required></p>
    <p><input type="text" name="name" placeholder="Enter your name" required></p>
    <p><input type="password" name="password" placeholder="Enter your Password" required></p>
    <p><input type="password" name="confirm_password" placeholder="Confirm your Password" required></p>
    <input type="submit" name="Update">
</form>
</div>